core/__pycache__/_ConfigReader.cpython-39.pyc
core/__pycache__/_RecaptchaSolver.cpython-39.pyc
core/__pycache__/_Telegram.cpython-39.pyc
core/__pycache__/_VfsClient.cpython-39.pyc
logs/app.log
logs/app.log.2023-01-09_17
